Library/
Temp/
Obj/
Build/
Logs/
UserSettings/
Assets/KayKit/
Assets/Blink/
Assets/Basic_RPG_Icons/
Assets/BOXOPHOBIC/
Assets/CaptainCatSparrow/
Assets/Daniel Mistage/
Assets/Game Buffs/
Assets/JC_StylizedModularCharacters/
Assets/Magic Weapon Icons/
Assets/OccaSoftware/
Assets/PBS Materials Variety Pack/
Assets/Pup Up Productions/
Assets/SimpleLowPolyNature/
Assets/SkymonIconPackFree/
Assets/SimpleNaturePack/
Assets/Supercyan Character Pack Zombie Sample/
Assets/YughuesFreeGroundMaterials
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db